<div class="search-box">
  <div class="form-group">
    <label for="name" class="control-label">商品名称</label>
    <input id="name" type="text" class="form-control" placeholder="输入菜品名称">
  </div>
  <div class="form-group">
    <label for="price" class="control-label">商品价格</label>
    <input id="price" type="text" class="form-control" placeholder="输入菜品价格">
  </div>
  <div class="form-group">
    <label for="types" class="control-label">商品类型</label>
    <select name="" id="types" class="form-control">
      <option value="">川菜</option>
      <option value="">湘菜</option>
      <option value="">粤菜</option>
      <option value="">鲁菜</option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-info btn-block">搜 索</button>
  </div>
</div>
